/.gradle
/.gradle-local
/.gradle-sandbox
/local.properties
/.idea
/app/build
**/build/
/apks_universal
/app-universal.apks
/keystore.properties
/upload_cert.pem
/scripts
/.gradle-user
/.tools
/.android-home
/.android-user
/.gradle-ro
/.tmp
*.jks
*.keystore
*.apk
*.aab
*.apks
*.idsig

# temporários locais
/_input_assets
*.old
*.backup-*.json
tmp_*.png
tmp_*.xml
tmp_*.json
