/.gradle
/.gradle-sandbox
/local.properties
/.idea
/app/build
**/build/
/apks_universal
/app-universal.apks
/keystore.properties
/upload_cert.pem
/app
/gradle
/gradlew
/gradlew.bat
/settings.gradle.kts
/build.gradle.kts
/scripts
/.gradle-user
/.tools
/.android-user
/.gradle-ro

# temporários locais
/_input_assets
*.old
tmp_*.png
tmp_*.xml
tmp_*.json

# opcional: ignore se for só anotação local
CHANGELOG.md